:root{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    --success: rgb(163, 255, 228);
    --danger: rgb(255, 139, 139);
    --pending: rgb(247, 255, 177);
    --buttons:#52ab98;
    --navbar:#f2f2f2;
    --conten-bg:white;
    --shadow:#c8d8e4;
    --heavy:#2b6777;
}
.tracker-tile {
    border:1px solid black;
    display: flex;
    width:40%;
}
.trackers {
    display:flex;
    flex-wrap:wrap;
}
.tracker-tile {
    margin:0% 0.5%;
}
.tracker-graph {
    margin-top:2%;
    border:0 !important;
}
.tracker-graph {
    border:1px solid black;
}
