:root{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    --success: rgb(163, 255, 228);
    --danger: rgb(255, 139, 139);
    --pending: rgb(247, 255, 177);
    --buttons:#52ab98;
    --navbar:#f2f2f2;
    --conten-bg:white;
    --shadow:#c8d8e4;
    --heavy:#2b6777;
}
.tracker-heading {
    height:4vh;
    color:white;
    font-size:1.2em;
    padding-left:1%;
    line-height:4vh;
    background: var(--heavy);
}
.tracker-tile {
    /* border:1px solid black; */
    width:30%;
    height:90%;
    display: flex;
    justify-content: space-around;
}
.tracker-tab {
    height:40%;
    margin-bottom:1%;
}
.trackers {
    display:flex;
    flex-wrap:wrap;
    height:90%;
    border:1px solid black;
}
.tracker-tile {
    margin:0% 0.5%;
}
.tracker-graph {
    margin-top:2%;
    border:0 !important;
    width:80%
}
.perfomance {
    height:59%;
}
