@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
body{
    font-family: "Merriweather Sans", sans-serif;
}

#inputDiv {
    width: 100vw;
    height: 100vh;
}

#inputContainer {
    box-shadow: 0px 6px 10px 2px rgb(219, 219, 219);
    font-size: 1.1rem;
    width:50%;
}

.shortHeight {
    height: 50vh;
    transition: height 0.5s;
}

.longHeight {
    height: 80vh;
    transition: height 0.5s;
}

#slidingBG {
    background-color: white;
    /* box-shadow: 0px 6px 10px 2px rgb(165, 164, 164); */
    width: 12.5%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: absolute;
}

.slideLeft {
    transform: translateX(0%);
    transition: transform 1s;
}

.slideRight {
    transform: translateX(100%);
    transition: transform 1s;
}

.toggleBtn {
    width: 100%;
    border: none;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: pointer;
    background-color: transparent;
}

.toggleBtn:focus {
    border: none;
    outline: none;
}

.transp {
    opacity: 0;
    transition: opacity 0.5s;
}

.vis {
    opacity: 1;
    transition: opacity 0.5s;
}

#loginForm input, #signupForm input {
    width: 100%;
}

#loginForm .row, #signupForm .row {
    margin-top: 8%;
    margin-bottom: 4%;
}

.formBtn {
    border: none;
    cursor: pointer;
    padding: 1.5%;
    width: 100%;
    background-color: white;
    box-shadow: inset 0 0 0 0 teal;
    transition: all 0.5s;
}

.formBtn:focus {
    border: none;
    outline: none;
}

.formBtn:hover {
    box-shadow: inset calc(25vw - 30px) 0 0 0 teal;
}
.w-90{
    width:90% !important;
}
.h-90{
    height:90% !important;
}


