:root{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    --success: rgb(163, 255, 228);
    --danger: rgb(255, 139, 139);
    --pending: rgb(247, 255, 177);
    --buttons:#52ab98;
    --navbar:#f2f2f2;
    --conten-bg:white;
    --shadow:#c8d8e4;
    --heavy:#2b6777;
  
}
#mainContainer {
    width: 99vw;
    height: 90vh;
    box-shadow: 0px 6px 10px 2px rgb(219, 219, 219);
    overflow-y: scroll;
}

#mainContainer::-webkit-scrollbar {
    display: none;
}

#mainContent {
    width: 100vw;
    height: 100vh;
}

#table {
    width: 50vw;
    max-height: 50vh;
    border: 5px solid var(--heavy);
    overflow-y: hidden;
}

#forms, #certificates {
    max-height: 45vh;
    overflow-y: scroll;
}

#forms::-webkit-scrollbar, #certificates::-webkit-scrollbar {
    display: none;
}

#navRow {
    background-color: var(--heavy);
    border-bottom: 5px solid var(--heavy);
}

#slidingBG {
    background-color: white;
    width: calc(25vw - 5px);
    height: 5vh;
    position: absolute;
}

.slideLeft {
    transform: translateX(0%);
    transition: transform 1s;
}

.slideRight {
    transform: translateX(100%);
    transition: transform 1s;
}

.visibleContent {
    opacity: 1;
    transition: opacity 0.5s;
}

.hiddenContent {
    opacity: 0;
    transition: opacity 0.5s;
}

.tableBtn {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    color: white;
    transition: 0.5s;
}

.blackText {
    color: black;
}

.tableBtn:hover {
    border: none;
    outline: none;
}

.tableBtn:focus {
    border: none;
    outline: none;
}

.tableCell {
    padding: 0;
}

.tableRow {
    margin: 2vh 0px;
}

.tableHeader {
    padding-bottom: 2vh;
    border-bottom: 2px solid var(--heavy);
}

#opc {
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
}

.anchorBtn {
    width: 100%;
    background-color: var(--buttons);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 0 0 0 gray;
    transition: 0.5s;
}

.anchorBtn:hover {
    color: white;
    text-decoration: none;
    box-shadow: 2px 5px 10px 2px gray;
}
