:root{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    --success: rgb(163, 255, 228);
    --danger: rgb(255, 139, 139);
    --pending: rgb(247, 255, 177);
    --buttons:#52ab98;
    --navbar:#f2f2f2;
    --conten-bg:white;
    --heavy:#2b6777;
    --shadow:#c8d8e4;
    
}
.content {
    /* width:100%; */
    display:flex;
}
.tweet {
    background-color: white
}
.content-tile {
    height:100%;

}

.page-content-display-area {
    overflow: hidden;
    height:90vh;
}
#tweets {
    margin-left:auto;
    height:100%;
    width:30%;
    display:flex;
    flex-direction: column;
    background: var(--shadow);
}
.tweet-analysis-tracker {
    width:67%;
    padding:1%;
    display: flex;
    flex-direction: column;
}
.tracker {
    min-height:70%;
    margin:1%; 
    border:1px solid black;
}
.tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:1%;
}
.tweet-head {
    display: flex;
}
.tweet-content {
    border:0 !important;
    margin:0.5%;
    padding:1% 5%;
    box-sizing: border-box;
}
.tweet-sentiment {
    height:50%;
    margin-top:1.5%;
    width:30%;
    margin-left:30%;
    border:0 !important;
}
.tweet-link {
    overflow: hidden;
    text-overflow:ellipsis;
}
.good {
    background: rgb(2, 185, 2);
}
.bad {
    background: red;
}
.ok {
    background: yellow;
}
.content-header{
    height:4vh;
    background-color: var(--heavy);
    text-align: center;
    color:white;
    line-height:4vh;
}