
.content {
    /* width:100%; */
    display:flex;
}

.content-tile {
    height:100%;

}
.page-content div{
    border:1px solid black;
}
.page-content-display-area {
    overflow: hidden;
    height:90vh;
}
#tweets {
    margin-left:auto;
    height:100%;
    width:30%;
    display:flex;
    flex-direction: column;
}
.tweet-analysis-tracker {
    width:67%;
    padding:1%;
    display: flex;
    flex-direction: column;
}
.tracker {
    min-height:30%;
    margin:1%; 
}
.tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:1%;
}
.tweet-head {
    display: flex;
}
.tweet-content {
    border:0 !important;
    margin:0.5%;
    padding:1% 5%;
    box-sizing: border-box;
}
.tweet-sentiment {
    height:50%;
    margin-top:1.5%;
    width:30%;
    margin-left:30%;
    border:0 !important;
}
.tweet-link {
    overflow: hidden;
    text-overflow:ellipsis;
}
.good {
    background: rgb(2, 185, 2);
}
.bad {
    background: red;
}
.ok {
    background: yellow;
}